.Li {
  display: flex;
  width: 8%;
  height: 25px;
  align-items: center;
  border: 1px solid;
  margin: 2px;
}
.Ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
